.padding_from_top {
  padding-top: 5%;
}

.phoneborder_afterlogin {
  border: 5px solid black;
  border-radius: 25px;
  width: 250px;
  height: 525px;
  background-color: #fff;
}

.user_Image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* .border_right_links {
  border-right: 2px solid white;
  height: auto;
} */
.userdaboard_color {
  background-color: #090909;
}
.add_link_heading {
  color: white !important;
  font-size: 13px;
}
.link_color {
  color: #1f9b92;
  font-size: 15px;
}
.Linker_pages_heading {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.add_new_link_btn {
  background-color: #50d3cb !important;
  color: #fff !important;
  display: inline-block !important;
  font-size: 16px !important;
  padding: 8px 25px !important;
  width: 100% !important;
  text-align: center;
  text-transform: capitalize !important;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none !important;
  text-decoration: none !important;
}

.link_back_color {
  background-color: #50d3cb;
  border-radius: 4px;
}
.linkoverflow_scroll {
  overflow-y: scroll;
  height: 350px;
}
.ancor_formatting {
  text-decoration: none !important;
  color: white;
}
.ancor_formatting:hover {
  text-decoration: none !important;
  color: whitesmoke;
}
.documentation_back_color{
  background-color: #C5C5C5 !important;
}

.suggest_Font{
  color: red;
}

@media only screen and (min-width:300px) and (max-width:650px){
  .padding_from_top {
    padding-top: 15%;
  }
}