.tabs_text_formatting {
  color: #50d3cb !important;
}

.PrivateTabIndicator-colorSecondary-3 {
  background-color: #50d3cb !important;
}

.Card_background {
  background-color: #50d3cb !important;
}
.card_background_free {
  background-color: #cecece !important;
}
.Pricing_button {
  background-color: #fff !important;
  width: 100% !important;
  color: #000 !important;
  text-transform: capitalize !important;
  outline: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  font-weight: 600 !important;
}
.Premium_data_formatting {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.Premium_data_content {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.premium_points {
  color: #fff;
  font-size: 15px;
}

.Premium_data_formatting2 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.Premium_data_content2 {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}
.premium_points2 {
  color: #000;
  font-size: 15px;
}
.Links_content {
  font-size: 13px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.linksborder {
  border-left: 10px solid #50d3cb !important;
}
.linksborder2{
    border-left: 10px solid #F17373 !important;
}
.linksborder3{
    border-left: 10px solid #5BE86D !important;
}
.linksborder4{
    border-left: 10px solid #7395F1 !important;
}
.linksborder5{
    border-left: 10px solid #E8AB5B !important;
}
@media only screen and (min-width: 300px) and (max-width: 650px) {
  .tab_pannel_data .MuiBox-root {
    padding: 0px !important;
  }
  .tab_pannel_data .MuiBox-root {
    padding: 0px !important;
  }
}
