.home_background_color {
  background-color: #313131;
  height: auto;
}
.home_content {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.home_para {
  font-size: 20px;
  color: #fff;
}
.content_color {
  color: #26ede0;
}
.Home_page_button {
  border: 1px solid #1f9b92 !important;
  color: #fff !important;
  background: 0 0 !important;
  border-radius: 25px !important;
  padding: 10px 20px;
  line-height: 22px !important;
  font-size: 16px !important;
  outline: none !important;
  background-image: linear-gradient(
    to right,
    #1f9b92 0%,
    #1f9b92 51%,
    #039188 100%
  ) !important;
}
.crasoul_image {
  width: 100%;
}
.link_cards_data {
  font-size: 15px;
  font-weight: 500;
}
.link_cards_data_content_color {
  color: #039188;
  font-size: 13px;
}
.image_data {
  width: 50%;
}
.user_color_back {
  background-image: linear-gradient(
    to right,
    #1f9b92 0%,
    #313131 51%,
    #313131 100%
  ) !important;
}
.data_padding_from_both {
  margin-left: 10%;
  margin-right: 10%;
}
.section_third_back {
  background-color: #cccccc !important;
}

.desktopSlider {
  display: block !important;
}
.cards_data_padding{
  margin-left: 2%;
  margin-right: 2%;
}
@media only screen and (min-width: 250px) and (max-width: 900px) {
  .desktopSlider {
    display: none !important;
  }
  .home_content {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
  }
  .home_para {
    font-size: 15px;
    color: #fff;
  }
  .data_padding_from_both {
    margin-left: 2%;
    margin-right: 2%;
  }
}
